<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />
    <title>Resu - Inicio sesion</title>
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
      <form action="{{ url_for('login') }}" method="post">
        <div class="form-group">
          <label for="username">Usuario:</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="form-group">
          <label for="password">Contraseña:</label>
          <input type="password" id="password" name="password" required />
        </div>
        <button type="submit">Login</button>
      </form>
      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul class="flash-messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
    </div>
    <footer>
      <p>
        &copy; Created with 🧉 by
        <a href="https://juangonzalez.com.ar">Juan Gonzalez</a> - ©
      </p>
    </footer>
  </body>
</html>
